#@ Placement
#-    Configure a placement constraint to where the container will be run.
#-    Examples:
#-        - node.hostname==<hostname>
#-        - engine.labels.fs-access.<worker-hostname>.mnt==true
#-        - node.role!=manager
GRAFANA_PLACEMENT_CONSTRAINT=engine.labels.node-type==swarm-monitor
PROMETHEUS_PLACEMENT_CONSTRAINT=engine.labels.node-type==swarm-monitor
LOKI_PLACEMENT_CONSTRAINT=engine.labels.node-type==swarm-monitor
#@ Host Config
#-  - TZ -
#-    The timezone.
TZ=Etc/UTC
#@ Traefik Config
#-  - TRAEFIK_DOMAIN -
#-    The Domiain where Grafana is accessed.
TRAEFIK_DOMAIN=localhost:3000
#-  - TRAEFIK_PATH_PREFIX_GRAFANA -
#-    The prefix for accessing grafana
TRAEFIK_PATH_PREFIX_GRAFANA=/dashboard
#-  - TRAEFIK_PATH_PREFIX_LOKI -
#-    The prefix for accessing grafana
TRAEFIK_PATH_PREFIX_LOKI=/logs
#@ Container Paths
#-  - GRAFANA_DATA_PATH -
#-    The Path to the Grafana config directory
GRAFANA_DATA_PATH=./appdata/grafana
#-  - PROMETHEUS_DATA_PATH -
#-    The Path to the Prometheus config directory
PROMETHEUS_DATA_PATH=./appdata/prometheus
#-  - ALERTMANAGER_DATA_PATH -
#-    The Path to the Alertmanager storage directory
ALERTMANAGER_DATA_PATH=./appdata/alertmanager
#-  - LOKI_DATA_PATH -
#-    The Path to the Loki storage directory
LOKI_DATA_PATH=./appdata/loki
#@ Loki Config
#-  - LOKI_USERNAME -
#-    The username for Grafana Loki.
#-    This auth is only applied for traffic from traefik.
LOKI_USERNAME=client
#-  - LOKI_PASSWORD_HASH -
#-    The hash of the password for Grafana Loki.
#-    This auth is only applied for traffic from traefik.
#-    Generate this with:
#-      > echo -n "Enter password for user '${LOKI_USERNAME:?}': " \
#-      >   && read -s password \
#-      >   && echo "'${password}'" \
#-      >   && sudo docker run --rm httpd htpasswd -nb ${LOKI_USERNAME:?} ${password}
LOKI_PASSWORD_HASH='$apr1$wcCsl.As$SAbn61uxmjxbeyRs29eZk0'
#-  - LOKI_S3_USE_MINIO -
#-    The endpoint for the S3 bucket compatible storage.
LOKI_S3_USE_MINIO=true
#-  - LOKI_S3_ENDPOINT -
#-    The endpoint for the S3 bucket compatible storage.
LOKI_S3_ENDPOINT=<HOST_IP>:9000
#-  - LOKI_S3_BUCKET_NAME -
#-    The S3 bucket name.
LOKI_S3_BUCKET_NAME=loki-data
#-  - ACCESS_KEY_ID -
#-    The username for S3 bucket
ACCESS_KEY_ID=loki
#-  - SECRET_ACCESS_KEY -
#-    The password for S3 bucket
SECRET_ACCESS_KEY=supersecret
