#@ Placement
#-    Configure a placement constraint to where the container will be run.
#-    Examples:
#-        - node.hostname==<hostname>
#-        - engine.labels.fs-access.<worker-hostname>.mnt==true
#-        - node.role!=manager
GRAFANA_PLACEMENT_CONSTRAINT=engine.labels.node-type==swarm-monitor
PROMETHEUS_PLACEMENT_CONSTRAINT=engine.labels.node-type==swarm-monitor
LOKI_PLACEMENT_CONSTRAINT=engine.labels.node-type==swarm-monitor
#@ Host Config
#-  - TZ -
#-    The timezone.
TZ=Etc/UTC
#@ Traefik Config
#-  - TRAEFIK_DOMAIN -
#-    The Domiain where Grafana is accessed.
TRAEFIK_DOMAIN=localhost:3000
#-  - TRAEFIK_PATH_PREFIX_GRAFANA -
#-    The prefix for accessing grafana
TRAEFIK_PATH_PREFIX_GRAFANA=/dashboard
#-  - TRAEFIK_PATH_PREFIX_PROMETHEUS -
#-    The prefix for accessing prometheus' API
TRAEFIK_PATH_PREFIX_PROMETHEUS=/prom
#-  - TRAEFIK_PATH_PREFIX_LOKI -
#-    The prefix for accessing loki's API
TRAEFIK_PATH_PREFIX_LOKI=/logs
#@ Container Paths
#-  - GRAFANA_DATA_PATH -
#-    The Path to the Grafana config directory
GRAFANA_DATA_PATH=./appdata/grafana
#-  - PROMETHEUS_DATA_PATH -
#-    The Path to the Prometheus config directory
PROMETHEUS_DATA_PATH=./appdata/prometheus
#-  - ALERTMANAGER_DATA_PATH -
#-    The Path to the Alertmanager storage directory
ALERTMANAGER_DATA_PATH=./appdata/alertmanager
#-  - LOKI_DATA_PATH -
#-    The Path to the Loki storage directory
LOKI_DATA_PATH=./appdata/loki
#-  - FLUENTBIT_STORAGE_PATH -
#-    The Path to the Fluent-Bit storage directory
FLUENTBIT_STORAGE_PATH=./appdata/graylog-stack/fluent-bit/storage
#-  - FLUENTBIT_CERTS_PATH -
#-    The Path to the Fluent-Bit certificates
FLUENTBIT_CERTS_PATH=./appdata/graylog-stack/fluent-bit/certs
#@ Prometheus Config
#-  - PROMETHEUS_DEBUGGING -
#-    Enable debugging
PROMETHEUS_DEBUGGING=false
#-  - PROMETHEUS_BASIC_AUTH_USER -
#-    Add a basic auth username to the API
PROMETHEUS_BASIC_AUTH_USER=admin
#-  - PROMETHEUS_BASIC_AUTH_PASS -
#-    Add a password for the PROMETHEUS_BASIC_AUTH_USER
PROMETHEUS_BASIC_AUTH_PASS=mySecretPassword
#-  - PROMETHEUS_BASIC_AUTH_PASS_HASH -
#-    The bcrypt hash of the PROMETHEUS_BASIC_AUTH_PASS
#-      > import getpass
#-      > import bcrypt
#-      > password = getpass.getpass("password: ")
#-      > hashed_password = bcrypt.hashpw(password.encode("utf-8"), bcrypt.gensalt())
#-      > print(hashed_password.decode())
PROMETHEUS_BASIC_AUTH_PASS_HASH=$2y$10$osUVO0tt8IygF7.M3PibIuVFY3TNnusNyjEZ.br3w.tHPhSd7lpsa
#-  - PROMETHEUS_ENABLE_REMOTE_WRITE_RECEIVER -
#-    Enable remote write receiver mode
PROMETHEUS_ENABLE_REMOTE_WRITE_RECEIVER=false
#@ Loki Config
#-  - LOKI_USERNAME -
#-    The username for Grafana Loki.
#-    This auth is only applied for traffic from traefik.
LOKI_USERNAME=client
#-  - LOKI_PASSWORD_HASH -
#-    The hash of the password for Grafana Loki.
#-    This auth is only applied for traffic from traefik.
#-    Generate this with:
#-      > echo -n "Enter password for user '${LOKI_USERNAME:?}': " \
#-      >   && read -s password \
#-      >   && echo "'${password}'" \
#-      >   && sudo docker run --rm httpd htpasswd -nb ${LOKI_USERNAME:?} ${password}
LOKI_PASSWORD_HASH='$apr1$wcCsl.As$SAbn61uxmjxbeyRs29eZk0'
#-  - LOKI_S3_USE_MINIO -
#-    The endpoint for the S3 bucket compatible storage.
LOKI_S3_USE_MINIO=true
#-  - LOKI_S3_ENDPOINT -
#-    The endpoint for the S3 bucket compatible storage.
LOKI_S3_ENDPOINT=<HOST_IP>:9000
#-  - LOKI_S3_BUCKET_NAME -
#-    The S3 bucket name.
LOKI_S3_BUCKET_NAME=loki-data
#-  - AWS_REGION -
#-    The region hosting the S3 bucket
AWS_REGION=eu-west-1
#-  - ACCESS_KEY_ID -
#-    The username for S3 bucket
ACCESS_KEY_ID=loki
#-  - SECRET_ACCESS_KEY -
#-    The password for S3 bucket
SECRET_ACCESS_KEY=supersecret
#-  - LOKI_GRPC_SERVER_MAX_RECV_MSG_SIZE -
#-    Limit on the size of a gRPC message this server can receive (bytes).
LOKI_GRPC_SERVER_MAX_RECV_MSG_SIZE=
#-  - LOKI_GRPC_SERVER_MAX_SEND_MSG_SIZE -
#-    Limit on the size of a gRPC message this server can send (bytes).
LOKI_GRPC_SERVER_MAX_SEND_MSG_SIZE=
#-  - LOKI_REJECT_OLD_SAMPLES_MAX_AGE -
#-      # Oldest day-table offset (from today, inclusive) to build blooms for. 1 till
#-      #   yesterday, 2 till day before yesterday and so on. This can be used to lower
#-      #   cost by not trying to build blooms for older data which doesn't change.
LOKI_REJECT_OLD_SAMPLES_MAX_AGE=24h
#@ Fluent-Bit Config
#-  - FLUENTBIT_PUBLISHED_HTTP_SERVER_PORT -
#-    Specify a custom port to publish to the host for the Fluent-Bit HTTP server. Defaults to 2020 if left blank.
FLUENTBIT_PUBLISHED_HTTP_SERVER_PORT=2020
#-  - FLUENT_BIT_LOG_LEVEL -
#-    Set the Fluent-Bit process log level
FLUENT_BIT_LOG_LEVEL=info
#-  - FLUENT_BIT_TAG_PREFIX -
#-    A tag to filter out records. Only records with a tag prefix matching this will be processed.
FLUENT_BIT_TAG_PREFIX=flb_glf.
#-  - ENABLE_HTTP_INPUT -
#-    Enable Fluent Bit HTTP input listener for log ingestion
ENABLE_FLUENTBIT_HTTP_INPUT=false
#-  - HTTP_INPUT_PORT -
#-    Port that the HTTP input listener will bind to inside the container
FLUENTBIT_HTTP_INPUT_PORT=24280
#-  - ENABLE_FLUENTBIT_TLS_FORWARD_INPUT -
#-    Enable TLS Forward input. This will either use provided certificates or generate some self-signed certs on startup.
ENABLE_FLUENTBIT_TLS_FORWARD_INPUT=false
#-  - FLUENTBIT_TLS_FORWARD_INPUT_PORT -
#-    Specify a custom port to publish to the host for the Fluent-Bit TLS Forward Input. Defaults to 24224 if left blank.
FLUENTBIT_TLS_FORWARD_INPUT_PORT=24224
#-  - FLUENTBIT_TLS_FORWARD_INPUT_SHARED_KEY -
#-    The shared key of the TLS Forward input
FLUENTBIT_TLS_FORWARD_INPUT_SHARED_KEY=123456789
#-  - FLUENTBIT_TLS_FORWARD_INPUT_VERIFY -
#-    The shared key of the TLS Forward input
FLUENTBIT_TLS_FORWARD_INPUT_VERIFY=off
#-  - FLUENTBIT_USE_EXISTING_CERT -
#-    Use existing certificates provided in the FLUENTBIT_EXISTING_CERT_PATH and FLUENTBIT_EXISTING_KEY_PATH variables
FLUENTBIT_USE_EXISTING_CERT=false
#-  - FLUENTBIT_EXISTING_CERT_PATH -
#-    Path to an existing cert as it will appear inside the running container.
FLUENTBIT_EXISTING_CERT_PATH=/etc/fluent-bit/certs/1.pem
#-  - FLUENTBIT_EXISTING_KEY_PATH -
#-    Path to an existing key as it will appear inside the running container.
FLUENTBIT_EXISTING_KEY_PATH=/etc/fluent-bit/certs/1.key
#-  - USE_CERTBOT_TO_GENERATE_KEY -
#-    If true, generate a certificate via Certbot during startup
USE_CERTBOT_TO_GENERATE_KEY=false
#-  - CERT_FQDN -
#-    Fully qualified domain name used for certificate generation
CERT_FQDN=
#-  - CERT_EMAIL -
#-    Email address passed to Certbot when generating certificates
CERT_EMAIL=
#-  - ENABLE_FLUENTBIT_PT_FORWARD_INPUT -
#-    Enable Fluent Bit plaintext Forward input listener
ENABLE_FLUENTBIT_PT_FORWARD_INPUT=false
#-  - FLUENTBIT_PT_FORWARD_INPUT_PORT -
#-    Port to publish to the host for the Fluent-Bit PT Forward Input. Defaults to 24228 if left blank.
FLUENTBIT_PT_FORWARD_INPUT_PORT=24228
#-  - ENABLE_FLUENTBIT_GRAFANA_LOKI_OUTPUT -
#-    Enable Fluent-Bit Loki output
ENABLE_FLUENTBIT_GRAFANA_LOKI_OUTPUT=true
#-  - ENABLE_FLUENTBIT_TLS_FORWARD_OUTPUT -
#-    Enable Fluent-Bit TLS Forward output.
ENABLE_FLUENTBIT_TLS_FORWARD_OUTPUT=false
#-  - FLUENTBIT_TLS_FORWARD_OUTPUT_HOST -
#-    The hostname of the Fluent-Bit TLS Forward output.
FLUENTBIT_TLS_FORWARD_OUTPUT_HOST=
#-  - FLUENTBIT_TLS_FORWARD_OUTPUT_PORT -
#-    The connection port of the Fluent-Bit TLS Forward output.
FLUENTBIT_TLS_FORWARD_OUTPUT_PORT=
#-  - FLUENTBIT_TLS_FORWARD_OUTPUT_SHARED_KEY -
#-    The shared key required to connect to the upstream TLS Forward input
FLUENTBIT_TLS_FORWARD_OUTPUT_SHARED_KEY=
#-  - FLUENTBIT_TLS_FORWARD_OUTPUT_VERIFY -
#-    Configure TLS Forward output connection to verify TLS certificates
FLUENTBIT_TLS_FORWARD_OUTPUT_VERIFY=
#-  - ENABLE_FLUENTBIT_PT_FORWARD_OUTPUT -
#-    Enable Fluent-Bit plain-text Forward output.
ENABLE_FLUENTBIT_PT_FORWARD_OUTPUT=false
#-  - FLUENTBIT_PT_FORWARD_OUTPUT_HOST -
#-    The hostname of the Fluent-Bit plain-text Forward output.
FLUENTBIT_PT_FORWARD_OUTPUT_HOST=
#-  - FLUENTBIT_PT_FORWARD_OUTPUT_PORT -
#-    The connection port of the Fluent-Bit plain-text Forward output.
FLUENTBIT_PT_FORWARD_OUTPUT_PORT=
